*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
:root{
    --navbar--height: 60px;
}
#navbar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
}
#logo{
    margin: 10px 20px;
}
#logo img{
    margin: 10px 20px;
    height: 40px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100;
    width: 100%;
    z-index: -1;
    opacity: -0.6;
}
#navbar ul{
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#navbar ul li{
    list-style: none;
    font-size:1.3rem ;
}
#navbar ul li a{
    color: wheat;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
     color: black;
     background-color: white;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url(../img/restaurant-g802d0ff0f_1280.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 400px;
    z-index: -1;
    opacity: 0.5;
}
#home h1{
    color: rgb(188, 120, 24);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#home p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.services-container{
    height: 100%;
}
#services{
    margin: 34px;
    display: flex;
}
#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 5px;
    border-radius: 23px;
    background-color: bisque;
}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;         
}
/* margin auto works with display block and height defined It is used to center an image in a container */
/* Client Section */
#client-section{

  height: 300px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(../img/restaurant-g802d0ff0f_1280.jpg) no-repeat center center/cover;
    width: 100%;
    height: 41%;
    z-index: -1;
    opacity: 0.4;
  }
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#client-items{
    padding: 54px;
}
#clients img{
    height: 100px;
}
/* CONTACT SECTION */
#contact{
    position: relative;
}
#contact::before{
content: "";
position: absolute;
background: url(../img/contact-us-gd4afa841f_1920.png) no-repeat center center/cover;
height: 100%;
width: 100%;
z-index: -1;
opacity: 0.4;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
width: 100%;
padding: 0.5rem;
border-radius: 9px;
font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box form{
    font-size: 1.3rem;
    font-style: italic;
}
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}

/* UTILITY FUNCTIONS */
.primary{
    font-style: italic;
    font-size: 3.8rem;
    padding: 5px;
}
.secondary{
    font-style: italic;
    font-size: 2.8rem;
    padding: 12px;
}
    .btn {
        padding: 6px 20px;
        border: 2px solid white;
        background-color: brown;
        color: aliceblue;
        margin: 19px;
        border-radius: 19px;
        cursor: pointer;
    }
    .btn:hover{
        background-color: aliceblue;
        color: brown;
    }
.center{
    text-align: center;
}
